<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/common.css" />
    <script>

        var arr = [];
        var tag_arr = [];
        var tag_string = "";

        document.addEventListener("DOMContentLoaded", function (event) {
            api_select_words();
            document.querySelector('input[list="tags"]').addEventListener('keypress', function (e) {
                
                if (e.key === 'Enter' && e.target.value !== "") {
                    if(e.target.value !== e.target.value.trim() && e.target.value.trim() == ""){
                        e.target.value = e.target.value.trim();
                        return false; 
                    }else{
                        input_dropdown_words_click(e.target.value.trim());
                        e.target.value = '';
                    }
                }
            })
        })

        const api_select_words = () => {
            fetch('http://localhost:8080/test').then(function (response) {
                response.text().then(function (text) {
                    var json = JSON.parse(text);
                    arr = json.map(item => item.tagName);
                    input_dropdown_words_set();
                })
            })
        }

        const input_dropdown_words_set = (value, gubun) => {
            var datalist_words = document.querySelector('#tags');
            if(value == undefined){
                arr.forEach((item, index) => {
                    var option_word = document.createElement('option');
                    option_word.value = item;
                    option_word.innerHTML = item;
                    option_word.addEventListener("click", function () {
                    });
                    datalist_words.appendChild(option_word);
                })
            }else {
                if(gubun == "del"){
                    while( datalist_words.hasChildNodes()){
                        datalist_words.removeChild(datalist_words.firstChild);
                    }
                    arr = arr.filter(item => item != value); 
                    arr.forEach((item, index) => {
                    var option_word = document.createElement('option');
                    option_word.value = item;
                    option_word.innerHTML = item;
                    option_word.addEventListener("click", function () {
                    });
                    datalist_words.appendChild(option_word);
                })
                }else {
                    arr.push(value);
                    arr.sort();
                    while( datalist_words.hasChildNodes()){
                        datalist_words.removeChild(datalist_words.firstChild);
                    }

                    arr.forEach((item, index) => {
                    var option_word = document.createElement('option');
                    option_word.value = item;
                    option_word.innerHTML = item;
                    option_word.addEventListener("click", function () {
                    });
                    datalist_words.appendChild(option_word);
                    });
                }
            }

        }

        const input_dropdown_words_click = (value) => {
            var input_form = document.querySelector('input[list="tags"]');
            var box_form = document.querySelector('#tag_string');
            var tags_string = "";
            var exist_flag = false;
            // exist_flag = check_tag_exist(value);
            // if (!exist_flag) {
            //     return false;
            // }

            for(i in tag_arr){
                if(tag_arr[i] == value) return false;
            }
            if (tag_arr.length == 4) {
                alert("태그는 4개까지만 등록 가능합니다.");
                return false;
            }
            input_dropdown_words_set(value, "del");

            tag_arr.push(value);
            tag_arr.forEach(item => {
                var tag_string = "";
                // tag_string += '<div>';
                // tag_string += '<span class="tag is-black" id="delete_tag">' + item + '</span>';
                // tag_string += '<span class="icon is-small">';
                // tag_string += '<button class="delete" aria-label="close" onclick="delete_tag_word(\'' + item + '\');">';
                // tag_string += '</button>';
                // tag_string += '</span>&nbsp;&nbsp';
                // tag_string += '</div>';

                tag_string += '<div>';
                tag_string += '<button class="button is-outlined" id="delete_tag" onclick="delete_tag_word(\'' + item + '\');">';
                tag_string += '<span>'+item+'</span>';
                tag_string += '<span class="icon is-small">';
                tag_string += '<i class="fas fa-times"></i>';
                tag_string += '</span>';
                tag_string += '</button>&nbsp;&nbsp';
                tag_string += '</div>';

                tags_string += tag_string;
            })
            box_form.innerHTML = tags_string;
            input_form.value = "";
        }

        // const check_tag_exist = (value) => {
        //     var flag = true;
        //     tag_arr.forEach(item => {
        //         if (item === value) {
        //             alert("이미 등록된 태그입니다.")
        //             flag = false;
        //         }
        //     })
        //     return flag;
        // }

        const delete_tag_word = (value) => {
            tag_arr = tag_arr.filter(item => item !== value);
            var delete_divs = document.querySelectorAll('#delete_tag');
            delete_divs.forEach((item, index, array) => {
                var delete_div = item.parentElement
                var tag_string_div = document.querySelector('#tag_string');

                if (item.textContent == value) {
                    tag_string_div.removeChild(delete_div);
                }
            })
        }

        function onclickSave() {
            var insertUrl = 'http://localhost:8080/insert';

            var cate = document.getElementsByName('storeCate');
            var storeCate;
            for (var i = 0; i < cate.length; i++) {
                if (cate[i].checked) {
                    storeCate = cate[i].value;
                }
            }
            var storeName = document.getElementById('storeName').value;
            var storeAddr = document.getElementById('storeAddr').value;
            var storeSiteUrl = document.getElementById('storeSiteUrl').value;
            var cwalImg = document.getElementById('cwalImg').value;
            var convertTag = tag_arr;

            if (storeName == '') {
                alert("업체명을 입력 할 것");
                return false;
            } else if (storeAddr == '') {
                alert("주소를 입력 할 것");
                return false;
            } else if (convertTag == null || convertTag.length < 1) {
                alert("태그를 추가 할 것");
                return false;
            } else if (document.querySelector('.startRadio__box input:checked + .startRadio__img') == null) {
                alert("별점 체크 할 것");
                return false;
            }
            var storeStar = document.querySelector('.startRadio__box input:checked + .startRadio__img').textContent;

            var json_data = { storeCate: storeCate, storeName: storeName, storeAddr: storeAddr, convertTag: convertTag, storeStar: storeStar, storeSiteUrl: storeSiteUrl, cwalImg: cwalImg };

            fetch(insertUrl, {
                method: 'POST',
                body: JSON.stringify(json_data),
                headers: { 'Content-Type': 'application/json' }
            })
                .then(response => {
                    if (response.status == 200) {
                        alert('등록되었습니다');
                        history.back(-1);
                    } else {
                        alert('등록실패하였습니다.');
                        history.back(-1);
                    }
                })
                .catch(error => console.log('Error:', error));
        }
        function changeColor() {
            var box = document.getElementById("mybox");
            box.style['backgroundColor'] = "yellow";
        }

        function onSearchAddr() {
            window.open("/components/kakao_keyword.html", "PopupWin", "width=600,height=700");
        }

    </script>

</head>

<body>
    <div class="container">
        <section class="hero notification">
            <div class="hero-head">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-2">
                                <strong>GOOD FOOD</strong>
                            </p>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <section class="hero notification is-white is-light ">
            <div class="hero-head">
                <nav class="level">
                    <div class="level-item">
                        <div class="level-center">
                            <p class="level-item"><a href="/components/search.html" class="button is-danger">검색</a></p>
                        </div>
                        <div class="level-center">
                            <p class="level-item"><a href="/components/save.html" class="button is-success">등록</a></p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="columns is-gapless is-multiline">
                    <div class="column is-full">
                        <nav class="level">
                            <div class="level-item">
                                <div class="level-center">
                                    <p class="title is-4 is-center">
                                        <strong class="has-text-black">카테고리 선택</strong>
                                    </p>
                                    <div class="control" style="width: 750px;">
                                        <label class="radio">
                                            <input type="radio" name="storeCate" value="1" checked>
                                            음식점
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="storeCate" value="2">
                                            카페
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level">
                            <div class="level-item">
                                <div class="level-center">
                                    <p class="title is-4">
                                        <strong class="has-text-black">업체명</strong>
                                    </p>
                                    <div class="control">
                                        <input class="input" type="text" name="storeName" id="storeName"
                                            placeholder="Text input" style="width: 750px;">
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level">
                            <div class="level-item">
                                <div class="level-center">
                                    <p class="title is-4">
                                        <strong class="has-text-black">주소</strong>
                                    </p>
                                    <div class="control">
                                        <input class="input" type="text" name="storeAddr" id="storeAddr"
                                            placeholder="주소찾기 버튼 ㄱㄱ" style="width: 750px;" readonly>
                                        <input type="hidden" name="storeSiteUrl" id="storeSiteUrl">
                                        <input type="hidden" name="cwalImg" id="cwalImg">
                                    </div>
                                    <div class="control">
                                        <button onclick="onSearchAddr();">주소찾기</button>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level">
                            <div class="level-item">
                                <div class="level-center">
                                    <p class="title is-4">
                                        <strong class="has-text-black">태그 </strong>
                                    </p>
                                    <div class="control">
                                        <input class="input" type="text" name="storeTag" id="storeTag"
                                            placeholder="태그 최대 4개 까지 추가" style="width: 750px;" list="tags">
                                        <datalist id="tags">
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level">
                            <div class="level-item" id="tag_string">
                            </div>
                        </nav>

                        <nav class="level">
                            <div class="level-item ">
                                <div class="level-center" style="width: 750px;">
                                    <p class="title is-4">
                                        <strong class="has-text-black">별점 </strong>
                                    </p>
                                    <div class="startRadio">
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">0.5</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">1</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">1.5</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">2</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">2.5</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">3</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">3.5</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">4</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">4.5</span></span>
                                        </label>
                                        <label class="startRadio__box">
                                            <input type="radio" name="star" id="">
                                            <span class="startRadio__img"><span class="blind">5</span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="hero-body">
                <nav class="level">
                    <div class="level-item">
                        <div class="level-center">
                            <p class="level-item"><a onclick="onclickSave();" class="button is-link">등록</a></p>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </div>
</body>

</html>