<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/common.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
        var arr = [];
        var input_string = "";
        var tag_string = "";
        var tag_arr = [];
        var list_string = "";
        document.addEventListener("DOMContentLoaded", function (event) {
            onSearch();
            api_select_words();
            document.querySelector('input[list="tags"]').addEventListener('keypress', function (e) {
                if (e.key === 'Enter' && e.target.value !== "") {
                    input_dropdown_words_click(e.target.value);
                    e.target.value = '';
                }
            })
            document.querySelector('#tag_add').addEventListener('click', function (e) {
                var input_form = document.querySelector('input[list="tags"]');
                if (input_form.value !== "") {
                    input_dropdown_words_click(input_form.value);
                    input_form.value = '';
                }
            })
        })

        const api_select_words = () => {
            fetch('http://localhost:8080/test').then(function (response) {
                response.text().then(function (text) {
                    var json = JSON.parse(text);
                    arr = json.map(item => item.tagName);
                    input_dropdown_words_set();
                })
            })
        }

        const input_dropdown_words_set = () => {
            var datalist_words = document.querySelector('#tags');
            arr.forEach((item, index) => {
                var option_word = document.createElement('option');
                option_word.value = item;
                option_word.innerHTML = item;
                option_word.addEventListener("click", function () {
                });
                datalist_words.appendChild(option_word);
            })

        }
        const input_dropdown_words_click = (value) => {
            var input_form = document.querySelector('input[list="tags"]');
            var box_form = document.querySelector('#tag_string');
            var tags_string = "";
            var exist_flag = false;
            exist_flag = check_tag_exist(value);
            if (!exist_flag) {
                return false;
            }
            if (tag_arr.length == 4) {
                alert("태그는 4개까지만 등록 가능합니다.");
                return false;
            }
            tag_arr.push(input_form.value);
            tag_arr.forEach(item => {
                var tag_string = "";
                tag_string += '<div>';
                tag_string += '<span class="tag is-black" id="delete_tag">' + item + '</span>';
                tag_string += '<span class="icon is-small">';
                tag_string += '<button class="delete" aria-label="close" onclick="delete_tag_word(\'' + item + '\');">';
                tag_string += '</button>';
                tag_string += '</span>&nbsp;&nbsp';
                tag_string += '</div>';

                tags_string += tag_string;
            })
            box_form.innerHTML = tags_string;
            input_form.value = "";
        }

        const check_tag_exist = (value) => {
            var flag = true;
            tag_arr.forEach(item => {
                if (item === value) {
                    alert("이미 등록된 태그입니다.")
                    flag = false;
                }
            })
            return flag;
        }
        const delete_tag_word = (value) => {
            tag_arr = tag_arr.filter(item => item !== value);
            var delete_divs = document.querySelectorAll('#delete_tag');
            delete_divs.forEach((item, index, array) => {
                var delete_div = item.parentElement
                var tag_string_div = document.querySelector('#tag_string');

                if (item.textContent == value) {
                    tag_string_div.removeChild(delete_div);
                }
            })
        }

        function onSearch() {
            var searchUrl = 'http://localhost:8080/search';
            var list_area = document.querySelector("#listArea");
            var width = "";
            list_area.innerHTML = "";
            list_string = "";
            fetch(searchUrl, {
                method: 'POST',
                body: JSON.stringify(tag_arr),
                headers: { 'Content-Type': 'application/json' }
            }).then(res => res.json())
                // .then(response => {
                //     response.forEach(i => {
                //         if (i.storeStar == '1') { width = "20%"; }
                //         if (i.storeStar == '1.5') { width = "31%"; }
                //         else if (i.storeStar == '2') { width = "40%"; }
                //         else if (i.storeStar == '2.5') { width = "51%"; }
                //         else if (i.storeStar == '3') { width = "60%"; }
                //         else if (i.storeStar == '3.5') { width = "71%"; }
                //         else if (i.storeStar == '4') { width = "80%"; }
                //         else if (i.storeStar == '4.5') { width = "91%"; }
                //         else if (i.storeStar == '5') { width = "100%"; }
                //         list_string += '<div class="column is-multiline is-one-quarter" style="width:21%;" id="listChild">',
                //             list_string += '<div class="card">',
                //             list_string += '<header class="card-header">',
                //             list_string += '<p class="card-header-title">' + i.storeName + '</p></header>',
                //             list_string += '<div class="card-content"><div class="content">' + i.storeAddr + '<br />#' + i.storeTag + '</div></div>',
                //             list_string += '<footer class="card-footer level"><div class="level-item"><div class="level-center">',
                //             list_string += '<div class="wrap-star"><div class="star-rating"><span style ="width:' + width + '"></span></div></div>',
                //             list_string += '</div></div></footer></div></div>'
                //     }),
                //         list_area.innerHTML = list_area.innerHTML + list_string
                // }
                // )
                .then(response => {
                    response.forEach(i => {
                        if (i.storeStar == '1') { width = "20%"; }
                        if (i.storeStar == '1.5') { width = "31%"; }
                        else if (i.storeStar == '2') { width = "40%"; }
                        else if (i.storeStar == '2.5') { width = "51%"; }
                        else if (i.storeStar == '3') { width = "60%"; }
                        else if (i.storeStar == '3.5') { width = "71%"; }
                        else if (i.storeStar == '4') { width = "80%"; }
                        else if (i.storeStar == '4.5') { width = "91%"; }
                        else if (i.storeStar == '5') { width = "100%"; }
                        list_string += '<div class="column is-multiline is-one-quarter" style="width:20%;" id="listChild">',
                            list_string += '<div class="card">',
                            list_string += '<div class="card-image">',
                            list_string += '<figure class="image is-4by3"><img src="' + i.storeImg + '" alt="Placeholder image"></figure></div>',
                            list_string += '<div class="card-content"><div class="media"><div class="media-left">',
                            list_string += '<figure class="image is-48x48"><img src="' + i.storeImg + '" alt="Placeholder image"></figure></div>',
                            list_string += '<div class="media-content"><p class="title is-4">' + i.storeName + '</p></div></div>',
                            list_string += '<div class="content">' + i.storeAddr + '<br/>#' + i.storeTag + '</div>',
                            list_string += '<div class="wrap-star"><div class="star-rating"><span style ="width:' + width + '"></span></div></div>',
                            list_string += '</div></div></div>'
                    }),
                        list_area.innerHTML = list_area.innerHTML + list_string
                }
                )
                .catch(error => console.log('Error:', error));
        }

    </script>
</head>

<body>
    <div class="container">
        <section class="hero notification">
            <div class="hero-head">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-2">
                                <strong>GOOD FOOD</strong>
                            </p>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <section class="hero notification is-white is-light ">
            <div class="hero-head">
                <nav class="level">
                    <div class="level-item">
                        <div class="level-center">
                            <p class="level-item"><a href="/components/search.html" class="button is-danger">검색</a></p>
                        </div>
                        <div class="level-center">
                            <p class="level-item"><a href="/components/save.html" class="button is-success">등록</a></p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <nav class="level">
                    <div class="level-item" id="tag_string">
                    </div>
                </nav>
                <nav class="level">
                    <div class="level-item">
                        <div class="level-center">
                            <input class="input" type="text" placeholder="태그 최대 4개 까지 추가" style="width:750px;"
                                list="tags">
                            <datalist id="tags">

                            </datalist>
                        </div>
                        <div class="level-center">
                            <p class="level-item"><a class="button is-light" id="tag_add">추가</a></p>
                        </div>
                        <div class="level-center">
                            <p class="level-item"><a class="button is-dark" onclick="onSearch();">검색</a></p>
                        </div>
                    </div>
                </nav>
                <nav class="level ">
                    <div class="level-item">
                        <div class="level-center">
                            <div class="columns is-multiline is-mobile" id="listArea"
                                style="width: 76%; box-sizing:unset;">
                            </div>
                        </div>
                    </div>

                </nav>
            </div>
        </section>
    </div>
</body>

</html>